fastapi
uvicorn
sqlalchemy
langchain
langchain-google-genai
langchain-chroma
langchain_text_splitters
multipart
python-multipart
PyPDF2
langchain-huggingface
sentence_transformers
pytesseract 
pdf2image 
opencv-python 
pillow
python-dotenv
langchain-ollama 
ollama
faiss-cpu
langchain-community